# usage:
#   pip2 install -r requirements.txt


# tool kits
pyflakes
autopep8
autoflake
isort

# fsutil
# wsjobd
psutil==5.6.7


# net
netifaces==0.10.9


# timeutil
# jobscheduler
tzlocal==2.0.0


# timeutil
# jobscheduler
pytz==2019.3


# mysqlconnpool.test
# etcd.test
# redisutil.test
docker-py==1.10.6


# logutil
# mysqlconnpool
# p3json
# proc
# strutil
subprocess32==3.5.4


numpy==1.16.3


# zkutil
kazoo==2.6.1


# for building dependency graph
snakefood

gevent==1.4.0
redis==2.10.6
# previous 3.11 has a security issue, which is fixed in at least 4.2b1
PyYAML==4.2b4

# MySQLdb
MySQL-python==1.2.5
objgraph==3.4.1

# geventwebsocket
gevent-websocket==0.10.1

# msgpack
msgpack==0.6.2
